<!DOCTYPE html>
<html>
<head>
  {% include 'static/html/default_includes/links.html' %}
  <title>NotMorePolitics|404</title>
  {% include 'static/html/default_includes/meta.html' %}
</head>
<body>
  {% include 'static/html/default_includes/header.html' %}
  {% include 'static/html/default_includes/navigation.html' %}
  <div class="text-center text-dark" id="main">
    <h1>Error 404</h1>
    <h2>Sorry the page you requested could not be found 😢</h2>
    <img class="image-fluid" src="/static?path=images/error_memes/404_1.jpg">
  </div>
  {% include 'static/html/default_includes/footer.html' %}
</body>
