<!DOCTYPE html>
<html>
<head>
  {% include 'static/html/default_includes/links.html' %}
  <title>NotMorePolitics|500</title>
  {% include 'static/html/default_includes/meta.html' %}
</head>
<body>
  {% include 'static/html/default_includes/header.html' %}
  {% include 'static/html/default_includes/navigation.html' %}
  <div class="text-center text-dark" id="main">
    <h1>Error 500</h1>
    <h2>Sorry we have failed you. The algorithm didn't work 😢</h2>
    <img class="image-fluid" src="/static?path=images/error_memes/500_1.jpg">
  </div>
  {% include 'static/html/default_includes/footer.html' %}
</body>
</html>
