<!DOCTYPE html>
<html>
<head>
  {% include 'static/html/default_includes/links.html' %}
  <title>NMP|About</title>

  {% include 'static/html/default_includes/meta.html' %}
</head>
<body>
  {% include 'static/html/default_includes/header.html' %}
  {% include 'static/html/default_includes/navigation.html' %}

  <div class="text-black text-justify bg-white container" id="body">
    <h1 class="font-large font-weight-bold text-center text-bold">What is NotMorePolitics.com?</h1>
    <div class="row justify-content-center">
      <p class="font-weight-light text-left">This website is a media outlet for all things politics! On here you will find articles about different aspects of politics from people all over the political spectrum. All our articles are written by a variety of different people, basically whoever wants to contribute</p>
    </div>
    <h1 class="font-large font-weight-bold text-center text-bold">How can I get involved?</h1>
    <div class="row justify-content-center">
      <p class="font-weight-light text-left">Idk we will think about this later</p>
    </div>
  </div>
  {% include 'static/html/default_includes/footer.html' %}
</body>
</html>
