<!DOCTYPE html>
<html>
<head>
  {% include 'static/html/default_includes/links.html' %}
  <title>NMP|About</title>

  {% include 'static/html/default_includes/meta.html' %}
</head>
<body>
  {% include 'static/html/default_includes/header.html' %}
  {% include 'static/html/default_includes/navigation.html' %}

  <div class="text-black text-justify bg-white" id="body">
    <h1 class="font-large font-weight-bold text-center text-bold">Who are we?</h1>
    <p class="font-weight-light text-left">Roses are red violets are blue Kieran isn't writing this because he has other jobs to do</p>
  </div>
  {% include 'static/html/default_includes/footer.html' %}
</body>
</html>
