<!DOCTYPE html>
<html>
<head>
  {% include 'static/html/default_includes/links.html' %}
  <title>NMP|Articles</title>

  {% include 'static/html/default_includes/meta.html' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==" crossorigin="anonymous"></script>
  <script src="/static?path=js/political_compass.js"></script>
</head>
<body>
  {% include 'static/html/default_includes/header.html' %}
  {% include 'static/html/default_includes/navigation.html' %}
  <div id="main" class="row align-items-center">
    <div id="compass_div" style="margin-left:auto; margin-right:auto;"></div>
  </div>
  {set length=articles|length}
  {% if length%2!=0 %}
    {length-=1}
  {% endif %}
  {% for i in range(length)%}
  <div class="row align-items-center">
    <div class="col-sm-6">
      {% if articles[i].category=='auth-left' %}
        {% set colour='danger' %}
      {% elif articles[i].category=='auth-right' %}
        {% set colour='primary' %}
      {% elif articles[i].category=='lib-left' %}
        {% set colour='success' %}
      {% elif articles[i].category=='lib-right' %}
        {% set colour='warning'%}
      {% endif %}
      <div class="card text-white bg-{{colour}}" style="width: 18rem;">
        <img class="card-img-top" src="/database-articles?path={{articles[i].id}}/cover_image.png" alt="{{articles[i].title}}">
        <div class="card-body">
          <h5 class="card-title">{{articles[i].title}}</h5>
          <img style="float:left;" src="/database-authors?path={{articles[i].author_id}}/profile_picture.png">
          <h6 class="card-subtitle mb-2 text-muted">{{author_names[loop.index]}}</h6>
          <p class="card-text" style="clear:both;">{{articles[i].summary}}</p>
          <a href="/articles/{articles[i].id}" class="btn btn-primary">Read</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      {% if articles[i+1].category=='auth-left' %}
        {% set colour='danger' %}
      {% elif articles[i+1].category=='auth-right' %}
        {% set colour='primary' %}
      {% elif articles[i+1].category=='lib-left' %}
        {% set colour='success' %}
      {% elif articles[i+1].category=='lib-right' %}
        {% set colour='warning'%}
      {% endif %}
      <div class="card text-white bg-{{colour}}" style="width: 18rem;">
        <img class="card-img-top" src="/database-articles?path={{articles[i+1].id}}/cover_image.png" alt="{{articles[i+1].title}}">
        <div class="card-body">
          <h5 class="card-title">{{articles[i+1].title}}</h5>
          <img style="float:left;" src="/database-authors?path={{articles[i+1].author_id}}/profile_picture.png">
          <h6 class="card-subtitle mb-2 text-muted">{{author_names[loop.index]}}</h6>
          <p class="card-text" style="clear:both;">{{articles[i+1].summary}}</p>
          <a href="/articles/{articles[i+1].id}" class="btn btn-primary">Read</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% if articles|length%2!=0}
  <div class="row-align-items-center">
    <div class="col-sm-6">
      {% if articles[articles|length-1].category=='auth-left' %}
        {% set colour='danger' %}
      {% elif articles[articles|length-1].category=='auth-right' %}
        {% set colour='primary' %}
      {% elif articles[articles|length-1].category=='lib-left' %}
        {% set colour='success' %}
      {% elif articles[articles|length-1].category=='lib-right' %}
        {% set colour='warning'%}
      {% endif %}
      <div class="card text-white bg-{{colour}}" style="width: 18rem;">
        <img class="card-img-top" src="/database-articles?path={{articles[articles|length-1].id}}/cover_image.png" alt="{{articles[articles|length-1].title}}">
        <div class="card-body">
          <h5 class="card-title">{{articles[articles|length-1].title}}</h5>
          <img style="float:left;" src="/database-authors?path={{articles[articles|length-1].author_id}}/profile_picture.png">
          <h6 class="card-subtitle mb-2 text-muted">{{author_names[loop.index]}}</h6>
          <p class="card-text" style="clear:both;">{{articles[articles|length-1].summary}}</p>
          <a href="/articles/{articles[articles|length-1].id}" class="btn btn-primary">Read</a>
        </div>
      </div>
    </div>
  </div>
  {% endif%}
  {% include 'static/html/default_includes/footer.html' %}
</body>
</html>
