<!DOCTYPE html>
<html>
<head>
  {% include 'static/html/default_includes/links.html' %}
  <title>NMP|Authors</title>

  {% include 'static/html/default_includes/meta.html' %}
</head>
<body>
  {% include 'static/html/default_includes/header.html' %}
  {% include 'static/html/default_includes/navigation.html' %}


  <form class="form-inline mr-auto justify-content-center" action="/authors" method="get">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Authors" name="name">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  <div style="height:2.5%;"></div>

  {% set length=0 %}
  {% if articles|length %}
    {length=articles|length}
  {% endif %}
  {% if length%2!=0 %}
    {length-=1}
  {% endif %}
  {% for i in range(length) %}
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="card text-dark bg-white" style="width: 18rem;">
        <img class="card-img-top" src="/database-authors?path={{authors[i].id}}/profile_picture.png" alt="{{authors[i].name}}">
        <div class="card-body">
          <h5 class="card-title">{{authors[i].name}}</h5>
          <a href="/authors/{authors[i].id}" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-dark bg-white" style="width: 18rem;">
        <img class="card-img-top" src="/database-authors?path={{authors[i+1].id}}/profile_picture.png" alt="{{authors[i+1].name}}">
        <div class="card-body">
          <h5 class="card-title">{{authors[i+1].name}}</h5>
          <a href="/authors/{authors[i+1].id}" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% if authors|length%2!=0 %}
  <div class="row-align-items-center">
    <div class="col-sm-6">
      <div class="card text-dark bg-white" style="width: 18rem;">
        <img class="card-img-top" src="/database-authors?path={{authors[authors|length-1].id}}/profile_picture.png" alt="{{authors[authors|length-1].name}}">
        <div class="card-body">
          <h5 class="card-title">{{authors[authors|length-1].name}}</h5>
          <a href="/authors/{authors[authors|length-1].id}" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <ul class="pagination justify-content-center">
    {% if page_number==0 %}
      <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
    {%else%}
      <li class="page-item"><a href="/authors?name={{query}}&page_number={{page_number-1}}" class="page-link">Previous</a></li>
    {% endif %}

    {% if no_next %}
      <li class="page-item disabled "><a href="#" class="page-link">Next</a></li>
    {%else%}
      <li class="page-item"><a href="/authors?name={{query}}&page_number={{page_number+1}}" class="page-link">Next</a></li>
    {% endif %}
  </ul>

  {% include 'static/html/default_includes/footer.html' %}
</body>
</html>
